<div class="bg-red-100">
    <h1 class="text-4xl ">Navbar rahega</h1>
    
</div>
<br><br>
<div class="bg-blue-100">
    <h1 class="text-4xl ">Carousel rahega</h1>
    
</div><br><br>

<div class="bg-yellow-100">
    <h1 class="text-4xl ">Fir thoda info rahega</h1>
    
</div><br><br>

<div class="bg-purple-100">
    <h1 class="text-4xl ">Jin companies ke saath kaam kiya h unka horizontally scrolling logos rahega</h1>
    
</div>

<br><br>
<div class="bg-green-100">
    <h1 class="text-4xl ">Contact-Me-Section rahega</h1>
    
</div>
<br><br>
<div class="bg-violet-100">
    <h1 class="text-4xl ">Footer rahega</h1>
    
</div>