<div class="hero">
    <video autoplay loop muted plays-inline class="back-video">
        <source src="assets/video.mp4" type="video/mp4">
    </video>
    <nav>
        <img src="assets/scc-logo.png" alt="logo" height="80px" width="80px">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/aboutus">About Us</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Sanjay Carrying Corporation</h1>
        <a routerLink="">Explore</a>
    </div>
</div>

<section class="stats-section">
    <div class="stats-container">
        <div class="arrow-left"></div>
        
        <div class="stat">
            <span id="clients" class="counter" data-target="10">0</span> and counting...
            <p>Satisfied Clients</p>
        </div>
        <div class="stat">
            <span id="vehicles" class="counter" data-target="9">0</span>
            <p>Vehicles On Road</p>
        </div>
        <div class="image-wrapper">
            <div class="image-container">
                <img src="assets/truck.jpg" alt="Truck Image">
            </div>
        </div>
        <div class="stat">
            <span id="branches" class="counter" data-target="3">0</span>
            <p>Our Branches</p>
        </div>
        <div class="stat">
            <span id="network" ><ul><li>All over India</li></ul>
            </span>
            <p>Our Network</p>
        </div>
        <div class="arrow-right"></div>
    </div>
</section>

<section class="showcase" id="explore-places">
    <div class="container">
        <div class="row row1">
            <div class="img-box"><img id="image1" src="assets/img1.jpg" alt="Image description"></div>
            <div class="text-box">
                <p class="text-grey">At Sanjay Carrying Corporation, we specialize in providing reliable and efficient transportation solutions tailored to meet the unique needs of both businesses and consumers. Since 2006 we have years of experience in the logistics industry, we pride ourselves on our commitment to excellence, ensuring that your goods are delivered safely, on time, and with the highest level of professionalism.</p>
                
            </div>
        </div>
        <div class="row row2">
            <div class="img-box"><img id="image2" src="assets/img2.jpg" alt="Image description"></div>
            <div class="text-box">
                <p class="text-grey">We understand the critical role that timely and secure delivery plays in maintaining the seamless operations of businesses. Our B2B transportation services are designed to meet the rigorous demands of commercial clients, ensuring that products, raw materials, and other essential goods are transported efficiently across various locations. Whether it's intercity or interstate, we have the expertise and resources to handle all your B2B logistics needs.</p>
                
            </div>
        </div>
    </div>
</section>




<div class="slider">
    <div class="slide-track">
        <div class="slide"><img src="assets/cliff-kumar-logo.png" alt=""></div>
        <div class="slide"><img src="assets/peri-logo.png" alt=""></div>
        <div class="slide"><img src="assets/prakalp-logo.png" alt=""></div>
        <div class="slide"><img src="assets/rinac-logo.png" alt=""></div>
        <div class="slide"><img src="assets/Sk-logo.png" alt=""></div>
        <div class="slide"><img src="assets/cliff-kumar-logo.png" alt=""></div>
        <div class="slide"><img src="assets/peri-logo.png" alt=""></div>
        <div class="slide"><img src="assets/prakalp-logo.png" alt=""></div>
        <div class="slide"><img src="assets/rinac-logo.png" alt=""></div>
        <div class="slide"><img src="assets/Sk-logo.png" alt=""></div>
    </div>
</div>
