
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.hero{
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.137),rgba(12, 3, 51, 0.192));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*****NAVBAR*****/

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;  
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 80px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}


/*BACK-VIDEO*/

.content{
    text-align: center;
}
.content h1{
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

}
@media(min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

/*PERSONAL INFO*/
.showcase{
    background: #ddd;
    padding: 4%;
}
.row{
    height: 350px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px #00000050;
}
.row1{
    margin-bottom: 3rem;
}

.row1 .img-box,.row2 .text-box{
    float: left;
    width: 50%;
}
.row2 .img-box,.row1 .text-box{
    float: right;
    width: 50%;
}
.row .img-box{
    height: 100%;
}
.row .text-box{
    padding: 3rem;
}
.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  
  .row .img-box img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1; /* Initial state */
    transition: opacity 0.5s ease-in-out;
  }
  


/*PARTNERS*/
.slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-track{
    display: flex;
    width: calc(250px * 10);
    animation: scroll 40s linear infinite;
}
.slide-track:hover{
    animation-play-state: paused;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 5));
    }
}
.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slide img{
    width: 100%;
}
.slider::before,.slider::after{
    background: linear-gradient(to right,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::after{
    right: 0;
    top: 0;
}
.slider::before{
    left: 0;
    top: 0;
}

.image-container img {
    max-width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.stats-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f4f4f4;
}
.stats-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f4f4f4;
}

.stats-container {
    display: flex;
    align-items: center;
    position: relative;
}

.stat {
    text-align: center;
    margin: 0 20px;
}

.stat .counter {
    font-size: 2rem;
    font-weight: bold;
}

.stat p {
    margin-top: 5px;
    font-size: 1rem;
}

.image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.image-container img {
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 300px; /* Adjust the max-height as needed */
    max-width: 300px;  /* Adjust the max-width as needed */
}

.arrow-left, .arrow-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-left {
    border-right: 20px solid #333;
    left: -20px;
}

.arrow-right {
    border-left: 20px solid #333;
    right: -20px;
}

.slider {
    background: #fff;
    padding: 1rem;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 14);
    animation: scroll 40s linear infinite;
}

.slide {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

/*Client header*/
.clients-header h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}


/*Footer*/
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e01c1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e01c1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        

