<div class="hero">
    <video autoplay loop muted plays-inline class="back-video">
        <source src="assets/video.mp4" type="video/mp4">
    </video>
    <nav>
        <img src="assets/scc-logo.png" alt="logo" height="80px" width="80px">
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="">About Us</a></li>
            <li><a routerLink="">Contact</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Sanjay Carrying Corporation</h1>
        <a routerLink="">Explore</a>
    </div>
</div>

<section class="showcase" id="explore-places">
    <div class="container">
        <div class="row row1">
            <div class="img-box"><img src="assets/img1.jpg" alt="Image description"></div>
            <div class="text-box">
                <h2 class="lg-heading text-black">DEGANVY,UK</h2>
                <p class="text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nemo voluptatibus, maiores quam nisi accusamus adipisci distinctio officia quos eveniet perspiciatis ea, modi eius neque ad sed accusantium. Eum, eligendi.</p>
                <a href="./about.html" class="btn btn-secondary">MORE</a>
            </div>
        </div>
        <div class="row row2">
            <div class="img-box"><img src="assets/img2.jpg" alt="Image description"></div>
            <div class="text-box ">
                <h2 class="lg-heading text-black">DESERT,EGYPT</h2>
                <p class="text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident perferendis a ullam aliquam, nisi unde ipsum magni laboriosam ut quam voluptates, quo velit numquam minima ratione saepe necessitatibus libero illum?</p>
                <a href="./about.html" class="btn btn-secondary">MORE</a>
            </div>
        </div>
    </div>
</section>